
@{
    ViewData["Title"] = "Create Student";
}

<h1>Create Student</h1>
<form asp-controller="students" asp-action="store">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" aria-describedby="Name" name="Name">
       
    </div>
    <div class="mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" name="Age">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
